.top-bar{
    height: 80px;
    background-color: #084351;
    display: flex;
    justify-content: center;
}


.input-field{
    height: 38px;
    width: 400px;
    transform: translateY(50%);
    background-color:#043744;
    border:none;
}

.input-field::placeholder {
    color:#075e74; /* Set the color of the placeholder text */
    font-size: 16px ;
    padding: 10px;
     /* Apply italic font style to the placeholder text */
    /* Add any other styles you want for the placeholder text */
  }
  

.search-btn{
    height: 40px;
    width: 30px;
    transform: translateY(52%);
    background-color:#043744;
    border:none;
}

.search-icon{
  font-size: 15px;
}


.logo-container {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 140px;
    height: 50px;
    right: 0;
    margin-right: 5px;
    margin-top: 12px;
    
  }

  .logo-logout{
    display: flex;
    background-color: #043744;
    width: 50px;
    height: 50px;
    padding: 5px;
  }
  
  .logo {
    width: 100%;
  }

  .logout-text-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 8px;
  }

  .logout-text{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
  }

  .logo-outer-container{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 270px;
    height: 35px;
    left: 0;
    margin-left: 15px;
    margin-top: 15px;
    padding: 5px;
  }
  
.logo1-container {
    width: 200px;
    height: 35px;
    padding: 10px 5px;
  }

  .logo-container1 {
    width: 50px;
  }
  
  .logo1 {
    width: 100%;
  }
  


/* Path: maps\src\Components\Map\index.css */
