.sidebar {
    margin-top: 5px;
    width: 20%; /* Adjust the width according to your design */
    height: 100vh; /* Set the desired height */
    background-color: #084351; /* Set the background color */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .heading-name{
    padding-top: 4px;
    font-size: 14px;
    font-weight: 600;
  }

  .subheading-name{
    padding: 2px 10px;
    font-size: 14px;
  }
  
  .white-rec {
    height: 15px;
    width: 15px;
    background: transparent;
    border: 2px solid cyan;
    border-radius: 3px;
    transition: background-color 0.3s ease;
  }

  .white-rec:hover{
    cursor: pointer;
 }

  .white-rec.toggled {
    background-color: white;
  }
  
  .side-menu {
    max-height: 500px; /* Set an initial max-height for the transition */
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
  }
  
  .side-menu-hidden {
    max-height: 0; /* Set max-height to 0 to hide the menu */
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .sign-btn{
    border: 2px solid cyan;
    background: transparent;
    color: white;
    padding: 2px 14px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
  }

  .sign-btn:hover{
    cursor: pointer;
    border: none;
    background-color: #062b35;
  }
  

/*   
  .white-rec.active {
    background-color: white;
  }
*/

.display-icon-container{
  width: 35px;
  height: 35px;
}

.display-icon{
  width : 100%;
}