.top-bar{
    height: 80px;
    background-color: #084351;
    display: flex;
    justify-content: center;
}


.input-field{
    height: 38px;
    width: 400px;
    transform: translateY(50%);
    background-color:#043744;
    border:none;
}

.input-field::placeholder {
    color:#075e74; /* Set the color of the placeholder text */
    font-size: 16px ;
    padding: 10px;
     /* Apply italic font style to the placeholder text */
    /* Add any other styles you want for the placeholder text */
  }
  

.search-btn{
    height: 40px;
    width: 30px;
    transform: translateY(50%);
    background-color:#043744;
    border:none;
}


.logo-container {
    display: flex;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #043744;
    right: 0;
    margin-right: 15px;
    margin-top: 12px;
    padding: 5px;
  }
  
  .logo {
    width: 100%;
  }
  
  
.logo-container1 {
    display: flex;
    position: absolute;
    width: 200px;
    height: 35px;
    left: 0;
    margin-left: 15px;
    margin-top: 22px;
    padding: 5px;
  }
  
  .logo1 {
    width: 100%;
  }
  


/* Path: maps\src\Components\Map\index.css */
