@font-face {
  font-family: "Avenir Next";
  src: url("../public/AvenirNext.ttc") format("Aviner Next supports variations"),
    url("../public/AvenirNext.ttc") format("Aviner Next-variations") ;
  font-weight: 100 1000;
}

body {
  margin: 0;
  font-family: "Avenir Next", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #043744;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
